{
  "mapping": "mapping.csv",
  "videos": ["videos"],
  "base_url": "https://files.mobility-squad.com/",
  "RUNS_DIR" : "runs",
  "MAPANYTHING_FPS" : 0.01,
  "ENABLE_VIZ" : false,
  "DELETE_DOWNLOADED_VIDEO" : true,
  "DELETE_FRAMES_AFTER_PROCESSING" : true,
  "KEEP_GOING" : true,
  "OVERWRITE_FRAMES" : true,
  "TARGET_LOCALITY" : null,
  "TARGET_ROW_ID" : null,
  "MAX_VIDEOS_TO_PROCESS" : null
}